* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 228);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

header {
    padding: 40px;
}

h1 {
  font-family: bagel fat one;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 8px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.panel {
  height: 150px;
  width: 150px;
  box-shadow: 0 0 0 10px black;
  cursor: pointer;
}

.center__panel {
  background-color: black;
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simon__logo {
    width: 100px;
}

#red {
  background-color: red;
  border-radius: 0 100% 0 0;
}

#blue {
  background-color: blue;
  border-radius: 0 0 100% 0;
}

#green {
  background-color: green;
  border-radius: 100% 0 0 0;
}

#yellow {
  background-color: yellow;
  border-radius: 0 0 0 100%;
}
