* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 228);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

header {
  padding: 40px;
}

h1 {
  font-family: bagel fat one, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 8px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border: 16px solid black;
  background-color: #ffffff;
}

.panel {
  height: 150px;
  width: 150px;
  outline: 1px solid rgb(0, 0, 0);
}

.panel:hover {
  cursor: pointer;
  filter: brightness(60%);
}

.center__panel {
  background-color: black;
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.simon__logo {
  width: 100px;
  filter: contrast(150%);
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.active {
  box-shadow: inset 0 0 15px 5px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.2s ease-in-out, filter 0.2s ease-in-out;
  filter: opacity(50%);
}

button {
  border-radius: 1rem;
  background-color: #000000;
  color:rgb(230, 230, 228);
  font-family: bagel fat one, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  padding: .5rem 1.3rem;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #272727;
}

button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
}
